<%- include("partial/header.ejs") -%>

    <link rel="stylesheet" href="/css/admin.css">

<h1>Welcome Admin</h1>
<div class="place">
  <a href="/set">Settings</a>
  <a href="/">LogOut</a>
</div>

 <div id="overlay" onclick="off()"><div id="text">
<select class="free" name="">
  <option value="00">Select</option>
  <option value="00">11</option>
  <option value="00">13</option>
  <option value="00">113</option>
  <option value="00">206</option>

  <% free.forEach((item) => { %>
    <option value=""> <%=item.roomid%> </option>
  <%});%>
</select>
<button type="button" name="button">Confirm Select</button>
</div>
</div>
<div id="ttchange" class="tabcontent">
  <table class="table table-hover">
    <h2>Timetable Change Requests</h2>
                          <thead >
                              <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Faculty</th>
                                  <th scope="col">Request</th>
                          </thead>
                          <tbody>
                          <% var i =0;var count =1; clist.forEach((item) => { %>
                            <tr>
                                <th scope="row"><%=count%></th>
                                <td><%=item.name%></td>
                                <td><%= item.request%> </td>
                                <td><button type="button"id="<%=i+1%>" class="btn btn-success"
                                  onclick="this.disabled=true;this.innerHTML='Accepted';<%item.status = 'Accepted';%>">Accept</button></td>
                                <td><button type="button"id="<%=i+2%>"class="btn btn-danger" onclick="$(this).closest('tr').remove();<%item.status = 'Declined';%>">Decline</button></td>
                            </tr>
                            <% count+=1;}); %>
                          </tbody>
                      </table>
</div>

<div id="cancelled" class="tabcontent">
  <table  class="table table-hover">
    <h2>Cancelled Reservations</h2>
  <thead >
      <tr>
          <th scope="col">#</th>
          <th scope="col">Faculty</th>
          <th scope="col">Request</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
      </tr>
  </thead>
  <tbody>
    <% var i = 10; var count =1; cancel.forEach((item) => { %>
      <tr>
          <th scope="row"><%=count%></th>
          <td><%=item.name%></td>
          <td><%= item.request%></td>
          <td><button type="button"id="<%=i+1%>" class="btn btn-success"
            onclick="this.disabled=true;this.innerHTML='Accepted';<%item.status = 'Accepted';%>">Accept</button></td>
          <td><button type="button"id="<%=i+2%>"class="btn btn-danger" onclick="$(this).closest('tr').remove();<%item.status = 'Declined';%>">Decline</button></td>
      </tr>
      <%count+=1; }); %>

  </tbody>
</table>
</div>

<div id="reserved" class="tabcontent">
  <table  class="table table-hover">
    <h2>Reservation List</h2>
  <thead >
      <tr>
          <th scope="col">#</th>
          <th scope="col">Faculty</th>
          <th scope="col">Capacity</th>
          <th scope="col">Slot</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
      </tr>
  </thead>
  <tbody>
    <% var i = 20;var count =1; reserve.forEach((item) => { %>
      <tr>
          <th scope="row"><%=count%></th>
          <td><%=item.name%></td>
          <td><%= item.cap%></td>
          <td><%= item.slot%></td>
          <td><a type="button" id="<%=i%>" onclick='on(this.id);'class="btn btn-info">Review</a></td>
          <td><button type="button"id="<%=i+1%>" class="btn btn-success"
    onclick="this.disabled=true;this.innerHTML='Accepted';<%item.status = 'Accepted';%> ">Accept</button></td>
          <td><button type="button"id="<%=i+2%>"class="btn btn-danger" onclick="$(this).closest('tr').remove();<%item.status = 'Declined';%>">Decline</button></td>
      </tr>
      <%count+=1; }); %>
  </tbody>
</table>
</div>


<button class="tablink" onclick="openT('ttchange', this)" id="defaultOpen">Timetable Change Requests</button>
<button class="tablink" onclick="openT('cancelled', this)" id="CR">Cancelled Reservations </button>
<button class="tablink" onclick="openT('reserved', this)" id="res">Reservation List</button>



<script>
function openT(click,elmnt) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  document.getElementById(click).style.display = "block";
}
document.getElementById("defaultOpen").click();

function on(){

  document.getElementById("overlay").style.display = "block";

}
function off() {
  setTimeout( function(){ document.getElementById("overlay").style.display = "none"}, 5000 );
}
</script>

    <%- include("partial/footer.ejs") -%>
